<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @report.date %>
</p>

<%= link_to 'Edit', edit_hotel_report_path(@report) %> |
<%= link_to 'Back', hotel_reports_path(@report.hotel_id) %>
